DATABASE_URL="mysql://root:senha@localhost:3306/store_stock"
JWT_SECRET="Edu@06051992"
PORT=3000
NODE_ENV="development"

APP_BASE_URL="https://store.boxsys.com.br"
APP_DOMAIN="boxsys.com.br"
PRIMARY_SUBDOMAIN="store"
INVITE_EXPIRATION_DAYS=7

SUPER_ADMIN_USER="Admin"
SUPER_ADMIN_PASSWORD="Edu@06051992"

VITE_APP_DOMAIN="boxsys.com.br"
VITE_PRIMARY_SUBDOMAIN="store"
